.vscode/
.DS_Store

!**/install/
!**/build/
!**/log/
**/**/**/install/
**/**/**/build/
**/**/**/log/
fishbot/fishbot_ws/src/cartographer/*
fishbot/fishbot_ws/src/cartographer_ros/*
src/fishbot/fishbot_ws/src/cartographer
src/fishbot/fishbot_ws/src/cartographer_ros
src/fishbot/fishbot_ws/src/navigation2